# Supabase
VITE_SUPABASE_URL=https://xsszdugexsobenylpdsn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_NQlUjvqyjz2Ci-_Ldt7cHw_jK3ywxC4

# Inference
#VITE_INFERENCE_API_URL=http://127.0.0.1:8000
VITE_INFERENCE_API_URL=claravision-retina-ai-production.up.railway.app
